# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please consult the documentation for further information on configuration options:
# https://www.elastic.co/guide/en/elasticsearch/reference/index.html
#
# ---------------------------------- Cluster -----------------------------------
#
# Use a descriptive name for your cluster:
#
#cluster.name: my-application
cluster.name: {{ elasticsearch_cluster_name | default('my-cluster') }}
#
# ------------------------------------ Node ------------------------------------
#
# Use a descriptive name for the node:
#
#node.name: node-1
node.name: {{ ansible_fqdn }}
node.master: {{ elasticsearch_node_master | default(true) }}
node.data: {{ elasticsearch_node_data | default(true) }}
node.ingest: {{ elasticsearch_node_ingest | default(true) }}
#
# Add custom attributes to the node:
#
#node.attr.rack: r1
#
# ----------------------------------- Paths ------------------------------------
#
# Path to directory where to store the data (separate multiple locations by comma):
#
path.data: {{ elasticsearch_shard_data_path | default("/var/lib/elasticsearch") }}
#
# Path to log files:
#
path.logs: /var/log/elasticsearch
#
# ----------------------------------- Memory -----------------------------------
#
# Lock the memory on startup:
#
#bootstrap.memory_lock: true
#
# Make sure that the heap size is set to about half the memory available
# on the system and that the owner of the process is allowed to use this
# limit.
#
# Elasticsearch performs poorly when the system is swapping the memory.
#
# ---------------------------------- Network -----------------------------------
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
#network.host: 192.168.0.1
network.host: {{ ansible_default_ipv4.address }}
#
# Set a custom port for HTTP:
#
#http.port: 9200
#
# For more information, consult the network module documentation.
#
# --------------------------------- Discovery ----------------------------------
#
# Pass an initial list of hosts to perform discovery when this node is started:
# The default list of hosts is ["127.0.0.1", "[::1]"]
#
{% if elasticsearch_discovery_type is defined %}
discovery.type: {{ elasticsearch_discovery_type }}
{% else %}
# Cluster discovery
#discovery.seed_hosts: ["host1", "host2"]
#
discovery.seed_hosts:
  {% for host in elasticsearch_discovery_seed_hosts %}
  - {{ host }}
  {% endfor %}

# Bootstrap the cluster using an initial set of master-eligible nodes:
#
#cluster.initial_master_nodes: ["node-1", "node-2"]
cluster.initial_master_nodes:
  {% for node in elasticsearch_cluster_initial_master_nodes %}
  {{ node }}
  {% endfor %}

#
# For more information, consult the discovery and cluster formation module documentation.
#
# ---------------------------------- Gateway -----------------------------------
#
# Block initial recovery after a full cluster restart until N nodes are started:
#
#gateway.recover_after_nodes: 3
#
# For more information, consult the gateway module documentation.
#
# ---------------------------------- Various -----------------------------------
#
# Require explicit names when deleting indices:
#
#action.destructive_requires_name: true

{% endif %} {# elasticsearch.discovery.type is not defined #}

# XPack security
{% if elasticsearch_xpack_security_enabled is defined
      and elasticsearch_xpack_security_enabled %}
xpack.security.enabled: {{ elasticsearch_xpack_security_enabled | default(false) }}
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: certificate
xpack.security.transport.ssl.keystore.path: "{{ elasticsearch_certificates_path }}/elastic-certificates.p12"
xpack.security.transport.ssl.truststore.path: "{{ elasticsearch_certificates_path }}/elastic-certificates.p12"
{% if elasticsearch_xpack_security_http_ssl_enabled is defined
      and elasticsearch_xpack_security_http_ssl_enabled %}
xpack.security.http.ssl.enabled: {{ elasticsearch_xpack_security_http_ssl_enabled | default(false) }}
xpack.security.http.ssl.keystore.path: "{{ elasticsearch_certificates_path }}/elastic-certificates.p12"
xpack.security.http.ssl.truststore.path: "{{ elasticsearch_certificates_path }}/elastic-certificates.p12"
{% endif %}
{% endif %}
